.filter {
  margin: 20px 0;

  &__text {
    padding: 8px 10px;
    border-radius: 20px;
  }
  &__status {
    width: 150px;
  }
}
.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}
.thead, .table-line:nth-child(even) {
  background-color: #eee;
}
.table-line td, .table th {
  padding: 8px 4px;
}